<%- include('src/up') %>

      <!-- Contenido -->
      <div class="col-7_sm-12">
        <h2>Información Bot</h2>
        <div class="table-1">
          <div class="grid">
            <div class="col-3"><img class="userpic" src="/lib/logo" alt="foto perfil"></div>
            <div class="col-9">
              <table cellspacing="5">
                <td> <b>Número</b> </td>
                <td> : </td>
                <td><%= bot %></td>
                <tr>
                <td> <b>Usuarios</b> </td>
                <td> : </td>
                <td><%= totalUsers %></td>
                <tr>
                <td> <b>Usos del Bot</b> </td>
                <td> : </td>
                <td><%= usos %></td>
              </table>
            </div>
          </div>
          <h2>Usuarios</h2>
        <% for (const user of users) { %>
          <div class="pricing">
            <h2 class="package"><%= user.name %></h2>
            <span class="limit"><%= user.phone.split('@')[0] %></span><br>
            <span class="limit">Plan: <%= user.plan %></span>
            <br>
          </div>
          <hr>
        <% } %>

          <div class="pagination">
          <% if (currentPage > 1) { %>
            <a href="/configure?page=<%= currentPage - 1 %>"><button><i class="bi bi-chevron-double-left"></i> Anterior</button></a>
          <% } %>
          <% if (currentPage < totalPages) { %>
            <a href="/configure?page=<%= currentPage + 1 %>"><button><i class="bi bi-chevron-double-right"></i> Siguiente</button></a>
          <% } %>
          </div>
        </div>
      </div>
      
<%- include('src/down') %>