<%- include('src/up') %>

      <!-- Contenido -->
      <div class="col-7_sm-12">
        <h2>ORDEN</h2>
        <div class="table-1 pricing">
          <% if(typeof plan.name != "undefined") { %>
            <table cellspacing="5">
              <td> <b>Plan</b> </td>
              <td> : </td>
              <td><%= plan.name %></td>
              <tr>
              <td> <b>Precio</b> </td>
              <td> : </td>
              <td><%= plan.price %></td>
              <tr>
              <td> <b>Número</b> </td>
              <td> : </td>
              <td><%= usuario %></td>
              <tr>
              <td> <b>Usos</b> </td>
              <td> : </td>
              <td><%= plan.use %></td>
              <tr>
              <td> <b>Duración</b> </td>
              <td> : </td>
              <td><%= plan.days %></td>
            </table>
            <% if(verifyPlan === true) { %>
              <a href="https://wa.me/573508770421?text=Plan%20<%= plan.name %>" target="_blank"><button> Ordenar ➠ </button></a>
            <% } else { %>
              <button> No Permitido </button>
            <% } %>
          <% } else { %>
            <div class="alert alert-danger marginUp"><b><%= plan.noPlan %></b></div>
          <% } %>
        </div>
      </div>
      
<%- include('src/down') %>