<%- include('src/up') %>

      <!-- Contenido -->
      <div class="col-7_sm-12">
        <h2>Información Usuario</h2>
        <div class="table-1">
          <div class="grid">
            <div class="col-3"><img class="userpic" src="<%= ppuser %>" alt="foto perfil"></div>
            <div class="col-9">
              <table cellspacing="5">
                <td> <b>Número</b> </td>
                <td> : </td>
                <td><%= profile.numero %></td>
                <tr>
                <td> <b>Contraseña</b> </td>
                <td> : </td>
                <td><%= profile.pass %></td>
              </table>
            </div>
          </div>
          <table cellspacing="5">
            <tr>
              <td> <b>Nombre</b> </td>
              <td> : </td>
              <td><%= profile.nombre %></td>
            <tr>
              <td> <b>Usos del bot</b> </td>
              <td> : </td>
              <td><%= profile.usoBot %></td>
            <tr>
              <td> <b>Premium</b> </td>
              <td> : </td>
              <td><%= profile.planPremium %></td>
            <tr>
              <td> <b>Dias Restantes</b> </td>
              <td> : </td>
              <td><%= profile.diasRestantes %></td>
            <tr>
              <td> <b>Usos Restantes</b> </td>
              <td> : </td>
              <td><%= profile.usosRestantes %></td>
          </table>
         </div>
      </div>
      
<%- include('src/down') %>